        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
#credito{margin-bottom: 0em;}
#piepagina{text-align: center;
    background: #d6d6d6;}
img{
max-width:100%;
height: auto;
}	
	